* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(99, 126, 149);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    position:fixed;
    right: 10px;
    padding: 10px;
    font-size: 20px;
}
    


li {
    display:inline;
    font-size: 100%;
    color: blue;
    margin: 5px;  
} 
li:hover{
    border-color:white;
}
.position {
    position: fixed;
    left:0;
    padding: 10px;
}

.supra {
    
    border: 3px solid black;
    border-radius: 35px;
    box-shadow: 5px 5px 5px rgb(80, 101, 119);;
    margin: 10px;
    position: relative;
    right: -37%;
    top: -30px;
}

h1 span,
nav {
    color: black;
    margin: 10px 20px;
    border-radius: 10px;
    
}

.color {
    background-color:rgb(231, 215, 215) ;
    position: relative;
    top: 20px;
    
}

.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}

.flex-item {
    margin: 10px;
    border: 3px solid black;
    
    
}

.flex-item1 {
    
    min-height: 100px;
    min-width: 100px;
    flex-grow: 1;
    
}

.flex-item2 {
    min-height: 100px;
    min-width: 100px;
    
}

.flex-item3 {
    min-height: 100px;
}


.flex-item4 {
    min-height: 100px;
}

