* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(99, 126, 149);
    position: relative;
}
.navbar {
    position:absolute;
    right: 10px;
    padding: 10px;
    font-size: 20px;
}
    


li {
    display:inline;
    font-size: 100%;
    color: blue;
    margin: 5px;  
} 
a:hover{
    color:white;
    text-decoration: none;
}


.position {
    position: fixed;
    left:0;
    padding: 10px;
}

.supra {
    

    border: 3px solid black;
    border-left: none;
    border-radius: 35px;
    box-shadow: 5px 5px 5px rgb(80, 101, 119);;
    margin: 10px;
    position: relative;
    right: -37%;
    top: -30px;
    opacity: .8;
}

h1 span,
nav {
    color: black;
    margin: 10px 20px;
    border-radius: 10px;
    
}
p {
    margin-left: 30px;
    margin-right: 30px ;
    line-height: 1.2;
    font-size: large;

}
.color {
    background-color:rgb(231, 215, 215) ;
    position: relative;
    top: 20px;
    
    
}

.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
   
    
}

.flex-item {
    margin: 15px;
    border: 3px solid black;
    border-radius: 5px;

    
    
}

.flex-item1 {
   max-width: 350px;
    
    
}

.flex-item2 {
   
  
}

.flex-item3 {
    
}


.flex-item4 {
    
}



h2{
    color: rgb(1, 1, 8);
    border-top: 3px solid;
    margin: 20px;
}

h2~p {
    color: rgb(160, 160, 168);
    
    
}

footer {
    background-color: bisque;
    height: .2vh;
    padding-top: 25px;
    border-top: 10px solid rgb(77, 132, 77);

}
a .flex-item:hover{
    opacity: 30%;
    
}











@media (max-width: 900px) {
    li a {
        display: block;
        position: relative;
        top:-30px;
        margin: -10px;
    }
    .color {
        font-size: 55%;
    }
    .flex-item1 {
        display: flex;
    }
}